{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Task Tracker</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% tailwind_css %}
    </head>
    <body class='bg-gray-600'>
		<nav class="top-bars w-auto h-12 flex py-3 px-7 rounded">
		    <img src="{% static 'jira_icon.jpeg' %}" width='25' alt='jira_icon'>
            <span class='logo mx-3 text-bold text-white'>Jira</span>

            <form method="POST" action="." class='form flex ml-30'>
                {% csrf_token %}
                <input name="poisk" placeholder='Поиск' class='w-[600px] h-7 px-4 ml-30 rounded border border-b-neutral-300 border-solid bg-transparent'>
                <button class='bg-blue-500 rounded w-25 h-7 text-[15px] ml-4 text-white'>+ Создать</button>

                <div class="flex ml-auto items-center">
                    {% if user.is_authenticated %}
                        <span class='text-white mr-8'>{{ user.username }}</span>
                        <button type="submit" class='w-20 h-7 text-[15px] rounded border border-black bg-purple-900 text-white' action="logout">Log out</button>
                    {% else %}
                        <button type="submit" action="register" class='w-20 h-7 text-[10px] rounded border border-black mr-2'>Register</button>
                        <button type="submit" action="login" class='btn'>Log in</button>
                    {% endif %}
                </div>
            </form>

		</nav>
        <hr>

        {% block content %}
        {% endblock %}

        </div>
	</body>
</html>
