{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jira Login</title>
    {% tailwind_css %}
</head>

<body class="h-screen flex flex-wrap items-center justify-center bg-gray-800">
    <form method="POST" action='.'>
        {% csrf_token %}
        <div class="flex flex-wrap items-center justify-center w-[450px] h-[400px] bg-white">
            <h2 class="font-bold text-2xl mx-48 mt-5">Registration</h2>
            {% for f in form %}
                <label for="{{f.id_for_label}}" class="text-1xl text-shadow-gray-700 font-mono ml-[40px] font-bold">{{f.label}}:</label>
                <span class="w-[200px] h-7 rounded border border-solid ml-[5px] mr-[40px]">{{f}}</span>
            {% endfor %}
            {% for message in messages %}
                <span class="text-red-600 mx-[100px]">{{message.error}}</span>
            {% endfor %}
            <button type="submit" class='bg-blue-700 text-white font-bold w-20 h-13 rounded mx-15'>Register</button>
        </div>
    </form>
</body>
</html>